version: "3.8"

services:
  nginx_service:
    container_name: nginx_service
    build: ./nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./app/static:/static
    networks:
      - web_app_network
    env_file:
      - .env
    depends_on:
      - "web_app"
  
  web_app:
    container_name: web_app
    build: ./app
    restart: always
    volumes:
      - ./app:/code
      - ./app/static:/code/static
    networks:
      - web_app_network
    env_file:
      - .env
    command: /code/entrypoint.sh

  mongodb:
    container_name: mongodb
    image: mongo:5.0
    restart: always
    volumes:
      - ./mongodb/mongod.conf:/etc/mongod.conf
      - ./mongodb/initdb.d/:/docker-entrypoint-initdb.d/
      - ./mongodb/data/db/:/data/db/
      - ./mongodb/log/:/var/log/
    env_file:
      - .env
    ports:
      - "27017:27017"
    command: [ "-f", "/etc/mongod.conf" ]


networks:
  web_app_network:
    driver: bridge

volumes:
  web_app_static:
