version: "3.8"

services:
  nginx_service:
    container_name: nginx_service
    build: ./nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./app/static:/static
      - ./app/static/react_components:/static/react_components
    networks:
      - web_app_network
    env_file:
      - .env
    depends_on:
      - "web_app"
      - "react_static"
  
  web_app:
    container_name: web_app
    build: ./app
    restart: always
    volumes:
      - ./app:/code
    networks:
      - web_app_network
    env_file:
      - .env
    command: /code/entrypoint.sh

  mongodb:
    container_name: mongodb
    image: mongo:5.0
    restart: always
    volumes:
      - ./mongodb/initdb.d/:/docker-entrypoint-initdb.d/
      - ./mongodb/data/db/:/data/db/
      - ./mongodb/log/:/var/log/
    env_file:
      - .env
    ports:
      - "27017:27017"

  react_static:
    container_name: react_static
    build: ./react_static
    volumes:
      - ./react_static/src:/react_static/src
      - ./app/static/react_components:/react_components
    command: npx babel src --out-dir /react_components/ --presets react-app/prod
    depends_on:
      - web_app

networks:
  web_app_network:
    driver: bridge
