.tg-button-color {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    width: 2px;
    background: var(--tg-theme-button-color);
}